@media only screen and (max-width: 1685px){
    .windows{
        position: relative;
        width: 350px;
        height: 500px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }

    .os-item-cards-ara{
        width: 300px;
        height: 480px;
        background: transparent;

    }
    .android{
        position: relative;
        width: 350px;
        height: 500px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }
}
@media only screen and (max-width: 1445px){
    .askmotion{
        width: 600px;
    }
    .Header{
        padding-right: 5%;
        padding-left: 5%;
    }
    .col2 img{
        width: 450px;
    }
    .svg-in-os {
        width: 500px;
        height: 500px;
        border-radius: 37% 63% 50% 50% / 30% 63% 37% 70% ;
        left: 5%;
        top: 0;
        z-index: -1;
        opacity: 0.6;
        background: #0077ff;
    }
    .svg-in-os2{
        width: 500px;
        height: 500px;
        top: 0;
        border-radius: 38% 62% 68% 32% / 29% 48% 52% 71% ;
        right: 5%;
        z-index: -1;
        opacity: 0.6;
        background: #ff9100;
    }
    .windows{
        position: relative;
        width: 330px;
        height: 480px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }
    .os-item-cards-ara{
        width: 330px;
        height: 480px;
        background: transparent;

    }
    .android{
        position: relative;
        width: 330px;
        height: 480px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }

}
@media only screen and (max-width: 1285px){
    .askmotion{
        width: 450px;
    }
    .svg-in-os {
        width: 440px;
        height: 440px;
        border-radius: 37% 63% 50% 50% / 30% 63% 37% 70% ;
        left: 3%;
        top: 0;
        z-index: -1;
        opacity: 0.6;
        background: #0077ff;
    }
    .svg-in-os2{
        width: 440px;
        height: 440px;
        top: 0;
        border-radius: 38% 62% 68% 32% / 29% 48% 52% 71% ;
        right: 3%;
        z-index: -1;
        opacity: 0.6;
        background: #ff9100;
    }
    .windows{
        position: relative;
        width: 28%;
        height: 470px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }
    .os-item-cards-ara{
        width: 200px;
        height: 480px;
        background: transparent;

    }
    .android{
        position: relative;
        width: 28%;
        height: 470px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }

}
@media only screen and (max-width: 1155px){
    .os-item-cards-ara{
        width: 250px;
        height: 480px;
        background: transparent;

    }
}
@media only screen and (max-width: 1040px){
    .middle-content .col1 .fp{
        font-size: 25px;
    }
    .svg-in-os {
        width: 380px;
        height: 380px;
        border-radius: 37% 63% 50% 50% / 30% 63% 37% 70% ;
        left: 0%;
        top: 0;
        z-index: -1;
        opacity: 0.6;
        background: #0077ff;
    }
    .svg-in-os2{
        width: 380px;
        height: 380px;
        top: 0;
        border-radius: 38% 62% 68% 32% / 29% 48% 52% 71% ;
        right: 0%;
        z-index: -1;
        opacity: 0.6;
        background: #ff9100;
    }
    .ara{
        height: 20px;
    }
    .col1 .desc{
        font-size: 12px;
        width: 320px;
    }
    .col2 img{
        width: 350px;
    }
    nav{
        font-size: 10px;
    }
    nav ul li{
        margin: 0 8px;
    }
    #lite{
        padding: 5px 18px;
        font-size: 10px;
    }
    .logo{
        width: 100px;
    }
    .col1 .buttons{
        text-align: right;
    }
    .col1 .buttons .download-pc{
        padding: 4px 35px;
    }
    .col1 .buttons .DNS{
        padding: 4px 35px;
    }
    .ds-3-content .right .desc{
        font-size: 13px;
    }
    .ds-3-content .left .desc{
        font-size: 11px;
    }

    .windows{
        position: relative;
        width: 30%;
        height: 430px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }
    .os-item-cards-ara{
        width: 100px;
        height: 480px;
        background: transparent;

    }
    .android{
        position: relative;
        width: 30%;
        height: 430px;
        background: white;
        border-radius: 40px;
        box-shadow: -30px 30px 50px rgba(0,0,0,0.08);
        padding: 10px;
        transition: 0.7s ease;
    }
    .os-items .item-desc{
        font-size: 13px;
    }
}
